Source: ros-noetic-ros-system-fingerprint
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-roslib, ros-noetic-rosnode, ros-noetic-rospy
Homepage:
Standards-Version: 3.9.2

Package: ros-noetic-ros-system-fingerprint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-git, ros-noetic-roslib, ros-noetic-rosnode, ros-noetic-rospy
Description: The ros_system_fingerprint package
